@model ChangePasswordModel
@{
	TempData["currentNav"] = "ChangePassword";
}

<div class="row g-0">
    <div class="col px-5 py-3">
        <h3>Đổi mật khẩu</h3>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating pb-2">
                <input asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="OldPassword" class="form-label"></label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating pb-2">
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="NewPassword" class="form-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating pb-2">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đổi</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
}

