@{
	Layout = "";
	ViewData["Title"] = "Page Not Found";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhimStrong</title>

    <link rel="icon" href="~/src/img/Logo/LogoIcon.png">
    <link rel="stylesheet" href="~/PhimStrong.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <img src="https://i.ibb.co/W6tgcKQ/softcodeon.gif">
        <h1 class="error-text">Whoops, trang bạn đang tìm kiếm không tồn tại hoặc đã bị xóa :((</h1>
        <p class="text">Hãy chắc chắc rằng bạn đã nhập đúng đường dẫn.</p>
        <div class="btn1">
            <a class="error" href="/">Trở về trang chủ</a>
        </div>
    </div>
</body>
</html>