@using Microsoft.AspNetCore.Identity
@using SharedLibrary.Models

@inject UserManager<User> UserManager
@inject AppDbContext AppDbContext

@{
    var user = await UserManager.GetUserAsync(User);
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PhimStrong</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">phim lẻ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">phim bộ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">thể loại</a>
                    <div class="dropdown-menu row" style="width:400px">
                        <div class="row">
                            @foreach (var category in AppDbContext.Categories)
                            {
                                <a class="dropdown-item" style="width:50%;" href="#">@category.Name</a>
                            }
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">quốc gia</a>
                    <div class="dropdown-menu row" style="width:400px">
                        <div class="row">
                            @foreach (var country in AppDbContext.Countries)
                            {
                                <a class="dropdown-item" style="width:50%;" href="#">@country.Name</a>
                            }
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">năm phát hành</a>
                    <div class="dropdown-menu row" style="width:400px">
                        <div class="row">
                            @for (int i = 2000; i <= 2023; i++)
                            {
                                <a class="dropdown-item" style="width:50%;" href="#">@i</a>
                            }
                        </div>
                    </div>
                </li>
                @if (user != null && (await UserManager.IsInRoleAsync(user, RoleConstant.ADMIN) || await UserManager.IsInRoleAsync(user, RoleConstant.THUY_TO)))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">quản lý</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Quản lý Users</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Movie" asp-action="Index">Quản lý phim</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Quản lý thể loại</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Cast" asp-action="Index">Quản lý diễn viên</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Director" asp-action="Index">Quản lý dạo diễn</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Country" asp-action="Index">Quản lý quốc gia</a>
                        </div>
                    </li>
                }
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Tìm tên phim, diễn viên...">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <partial name="_LoginPartial.cshtml"></partial>
    </div>
</nav>
