@model List<Movie>
@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = TempData["Title"] ?? "none";
}

<h1 class="text-success my-5">@($"{ViewData["Filter"]}: {ViewData["Title"]}")</h1>

<partial name="_MovieContainerPartial" for="@Model"></partial>

@{
	PagingModel pagingModel = new PagingModel
			{
				NumberOfPages = (int)(TempData["NumberOfPages"] ?? 1),
				CurrentPage = (int)(TempData["CurrentPage"] ?? 1),
				Callback = (int page) => Url.Action(
					(TempData["Action"] ?? "Index").ToString(),
					"Movie",
					new {
						area = "",
						page = page,
						value = TempData["RouteValue"]
					})
			};
}

<partial name="/Views/Shared/_PagingPartial.cshtml" for="@pagingModel"></partial>