@model PagedList<MovieViewModel>
@{
	Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success my-5">@($"{ViewData["Filter"]}: {ViewData["Title"]}")</h1>

<partial name="_MovieContainerPartial" for="@Model"></partial>

@{
	PagingModel pagingModel = new PagingModel
			{
				NumberOfPages = Model.TotalPage,
				CurrentPage = Model.CurrentPage,
				Callback = (int page) => Url.Action(
					(ViewData["Action"] ?? "Index").ToString(),
					"Movie",
					new {
						area = "",
						page = page,
						value = ViewData["RouteValue"]
					})
			};
}

<partial name="/Views/Shared/_PagingPartial.cshtml" for="@pagingModel"></partial>