@model Director
@{
    ViewData["Title"] = "Chỉnh sửa đạo diễn";
}

<h2 class="text-success">@ViewData["Title"]</h2>

<partial name="/Views/Shared/_ModalConfirm.cshtml"></partial>
<partial name="_StatusMessage" for="@TempData["status"]" />

<div class="mt-4">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Tên</label>
            <input asp-for="Name" class="form-control" placeholder="Nhập tên đạo diễn">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="my-3">
            <h5>Ảnh</h5>
            <img src="@(Model.Avatar ?? "/src/img/UserAvatars/default_avatar.png")" class="avatar avatar-square img-fit" style="width: 200px; height:200px;">
        </div>
        <div class="form-group mt-3">
            <label asp-for="AvatarFile">Sửa ảnh đạo diễn</label>
            <input type="file" asp-for="AvatarFile" class="form-control">
            <span asp-validation-for="AvatarFile" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="About">Tiểu sử, sự nghiệp</label>
            <textarea asp-for="About" class="form-control" placeholder="tiểu sử, sự nghiệp"></textarea>
            <span asp-validation-for="About" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="DateOfBirth">Ngày sinh</label>
            <input asp-for="DateOfBirth" class="form-control" placeholder="Ngày sinh">
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Chỉnh sửa</button>
    </form>

    <form id="delete-director" method="post" asp-action="Delete" asp-route-directorid="@Model.Id">
        <button id="delete-director-btn" type="submit" class="btn btn-danger mt-4">Xóa đạo diễn</button>
    </form>
</div>

@section Scripts {
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script src="~/js/ModalConfirm.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $('#delete-director-btn').click(function (e) {
            e.preventDefault();
            showModal("Xóa ?", "Xác nhận xóa đạo diễn này ?");
        });

        modalConfirm(function() {
            $('#delete-director').submit();
        });
    </script>
}

