@model string
@{
    ViewData["Title"] = "Xác thực Email";
}

<h1>@ViewData["Title"]</h1>

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Lỗi") ? "danger" : "success";

    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}