@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu ?";
}

<h1 class="text-success">@ViewData["Title"]</h1>
<h2>Điền Email của bạn.</h2>
<small style="color: gray">Có cái mật khẩu cũng quên :()</></small>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
