@model LoginModel
@{
    #pragma warning disable
    ViewData["Title"] = "Đăng nhập";
}

<h1 class="text-success">@ViewData["Title"]</h1>
<section>
    <partial name="_StatusMessage" for="@TempData["status"]" />
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="/src/img/Logo/PhimStrong_Logo.png"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Nhập Email" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Password" class="form-label">Mật khẩu</label>
                        <input asp-for="Password" class="form-control" placeholder="Nhập mật khẩu" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label asp-for="RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                        <a asp-area="Identity" asp-controller="Authentication" asp-action="ForgotPassword" id="forgot-password">Quên mật khẩu?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success w-100 btn-lg btn-block mb-3">Đăng nhập</button>
                    <a asp-area="Identity" asp-controller="Authentication" asp-action="Register">Chưa có tài khoản ?, ấn đây để đăng ký.</a>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                </form>
                <form id="external-account" method="post" asp-action="ExternalLogin">
                    <button type="submit" class="btn btn-primary btn-lg" name="provider" value="Facebook"
                        style="background-color: #3b5998" title="Sử dụng tài khoản Facebook của bạn để đăng nhập.">
                        <i class="bi bi-facebook"></i>Đăng nhập với Facebook
                    </button>
                    <button type="submit" class="btn btn-primary btn-lg" name="provider" value="Google"
                        style="background-color: #55acee" title="Sử dụng tài khoản Google của bạn để đăng nhập.">
                        <i class="bi bi-google"></i>Đăng nhập với Google
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
}



