@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 class="text-success">@ViewData["Title"]</h1>
<p>
    Mật khẩu đã được đặt lại. <a asp-area="Identity" asp-controller="Authentication" asp-action="Login">Ấn vào đây để đăng nhập</a>.
</p>

