@model EditCategoryViewModel
@{
    ViewData["Title"] = "Chỉnh sửa thể loại";
}

<h2 class="text-success">@ViewData["Title"]</h2>

<partial name="/Views/Shared/_ModalConfirm.cshtml"></partial>
<partial name="_StatusMessage" for="@TempData["status"]" />

<div class="mt-4">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" hidden/>
        <div class="form-group">
            <label asp-for="Name">Tên thể loại</label>
            <input asp-for="Name" class="form-control" placeholder="Nhập tên thể loại">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Miêu tả</label>
            <input asp-for="Description" class="form-control" placeholder="Miêu tả">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Chỉnh sửa</button>
    </form>

    <form id="delete-cate" method="post" asp-action="Delete" asp-route-cateid="@Model.Id">
        <button id="delete-cate-btn" type="submit" class="btn btn-danger mt-4">Xóa thể loại</button>
    </form>
</div>

@section Scripts {
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script src="~/js/ModalConfirm.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $('#delete-cate-btn').click(function (e) {
            e.preventDefault();
            showModal("Xóa ?", "Xác nhận xóa thể loại này ?");
        });

        modalConfirm(function () {
            $('#delete-cate').submit();
        });
    </script>
}

