@{
    ViewData["Title"] = "Liên hệ";
}
<div class="p-4 mt-3" style="background-color: white; border-radius: 4px;">
    <h1 class="text-success">@ViewData["Title"]</h1>
    <p class="text-dark">Mọi thông tin tư vấn, hỗ trợ vui lòng gửi về Email: vubamanh05@gmail.com</p>
</div>
