@{
    ViewData["Title"] = "Khiếu nại bản quyền";
}
<div class="p-4 mt-3" style="background-color: white; border-radius: 4px;">
    <h1 class="text-success">@ViewData["Title"]</h1>

    <h2 class="text-success">1. Trách nhiệm nội dung</h2>
    <p class="text-dark">Nội dung trên PhimStrong được đăng bởi người sử dụng, vì vậy trách nhiệm về nội dung thuộc về người gửi bài lên trên hệ thống. Ban quản trị của trang web sẽ thường xuyên kiểm tra các nội dung trên trang và loại bỏ các nội dung vi phạm bản quyền, nội dung quảng cáo, spam, clip rác, nội dung xúc phạm, 18+ hay những nội dung không phù hợp với thuần phong mỹ tục, không trái với các quy định pháp luật.</p>

    <h2 class="text-success">2. Bản quyền</h2>
    <p class="text-dark">Là một trang web về thông tin giải trí, nhưng chúng tôi không cam kết chắc chắn rằng có thể kiểm soát mọi thông tin trên trang web. Bất kỳ hành vi xâm phạm đến bản quyền nào nếu được báo cáo sẽ bị Ban quản trị gỡ bỏ khỏi trang web trong thời gian sớm nhất.</p>

    <h2 class="text-success">3. Sở hữu trí tuệ</h2>
    <p class="text-dark">Mọi nội dung được đăng tải trên PhimStrong, bao gồm thiết kế, logo, các phần mềm, chức năng kỹ thuật, cấu trúc trang đều thuộc bản quyền của PhimStrong . Nghiêm cấm mọi sao chép, sửa đổi, trưng bày, phân phát, chuyển tải, tái sử dụng, xuất bản, bán, cấp phép, tái tạo hay sử dụng bất cứ nội dung nào của trang web cho bất kỳ mục đích nào mà không có sự xác nhận của Ban quản trị PhimStrong .</p>

    <h2 class="text-success">4. Quy trình báo cáo vi phạm bản quyền</h2>
    <p class="text-dark">Nếu bạn tin rằng bất kỳ nội dung nào được phát hành thông qua PhimStrong vi phạm quyền sở hữu trí tuệ của bạn, vui lòng thông báo cho chúng tôi về việc vi phạm bản quyền qua Email <strong class="text-decoration-underline">vubamanh05@gmail.com</strong>. Chúng tôi sẽ xử lý từng thông báo vi phạm bản quyền mà chúng tôi nhận được theo quy định của Điều khoản sử dụng của PhimStrong và quy định của pháp luật sở hữu trí tuệ.</p>
</div>
